VITE_THIRD_WEB_CLIENT_ID='5e2dc9520e575f977819045cd67f4853'
VITE_THIRD_WEB_SECRET_KEY='D_2KZ_rJAS551r6VP6AD37kL4Cy9rY1mjxfRBi--yx6jtZEAVAQd2qZGkvropz1RJj7rA4LOVQYiySxWvpVcng'
VITE_LIGHTHOUSE_STORAGE_API_KEY='91c5f7cd.33caddd9f90a4110b7d5cf798f153171'
VITE_NFT_CONTRACT_ADDRESS='0x919F805060b053458668d198e08197130504407A'
VITE_SERVER_URI='http://localhost:3000'
VITE_PINATA_API_KEY='e38b1392e1936d9ba90a'
VITE_PINATA_API_SECRET='c9ffec9a41430ad6afa8bd5f7defc9bc631583cb2ca195f6d8eb6094fd098173'
VITE_PINATA_JWT ='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIxMTE4MGNmMy1mYWIwLTQ3MTItYjg0OS0xODZjNzQwNjk3NWIiLCJlbWFpbCI6Im5vdC5zby5sZXh5QGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImlkIjoiRlJBMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfSx7ImlkIjoiTllDMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiJlMzhiMTM5MmUxOTM2ZDliYTkwYSIsInNjb3BlZEtleVNlY3JldCI6ImM5ZmZlYzlhNDE0MzBhZDZhZmE4YmQ1ZjdkZWZjOWJjNjMxNTgzY2IyY2ExOTVmNmQ4ZWI2MDk0ZmQwOTgxNzMiLCJpYXQiOjE3MTY3NDc2NTN9.4Cj-oxlGg9A9l__z7Tz9V5ZlBG_sIz3mVAB5JDKTnxo'
VITE_LIGHTHOUSE_GATEWAY='https://gateway.lighthouse.storage/ipfs'